.Wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 200ms ease;
    top: 0;
    left: 0;
}

.Visible {
    transform: translateY(0);
}

.Hidden {
    transform: translateY(-100vh);
}

.CloseBtn {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 30px;
    font-family: "Old Sans";
    transition: transform 300ms ease;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px 10px;
}

.CloseBtn:hover {
    transform: rotate(180deg);
}